

<div>
  <input type="text" name="search" [(ngModel)]="filteredCity">
</div>

<app-trip *ngFor="let trip of tripsList | filter:filteredCity; 
                                let i=index" [trip]="trip" (click)="transferChosenTrip(trip)"></app-trip>
<button (click)="showForm()">Add new trip</button>




<app-add-new-trip [isVisible]="isFormShown" [tripsList]="tripsList"></app-add-new-trip>

<app-forecast-for-each-day [chosenTrip]="chosenTrip"></app-forecast-for-each-day>
<app-weather-for-today [chosenTrip]="chosenTrip"></app-weather-for-today>
<router-outlet></router-outlet>
<button mat-button>Basic</button>
